# Environments
.env
.env.*
!.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
build/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.mypy_cache/
.ropeproject
.hypothesis/

# IDEs and OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Database and Data
git.env
*.sqlite3
*.db
data/

# Gemini
.gemini/

# Excluded folders
Extra/
# data/

